body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .container {
    width: 100%;
    height: 200px;
    position: relative;
    background: transparent;
  }
  
  .box {
    width: 138px;
    height:138px;
    background-color: gray;
    position: absolute;
    left: 0;
    top: 50px;
    transition: all 0.5s ease;
  }
  
  .box.active {
    left: calc(100% - 138px);
    background-color: red;
  }
  